anytree
apex
auto_mix_prep
boto3
botocore
deepspeed
einops
future
huggingface_hub
ipdb
matplotlib
nltk
numpy
opencv_python
Pillow
progressbar33
psutil
PyYAML
requests
scikit_image
scipy
six
timm
tensorflow
tensorflow_datasets
tqdm
datasets==2.4.0
faiss-gpu==1.7.2
h5py==3.7.0
huggingface-hub==0.8.1
pandas==1.4.3
pyarrow==9.0.0
pyparsing==3.0.9
tokenizers==0.12.1
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
transformers==4.21.1
